@font-face {
    font-family: 'Gilroy'; /*Gilroy-Thin*/
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/assets/font/Gilroy-Thin.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*UltraLight*/
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/assets/font/Gilroy-UltraLight.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*Light*/
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/assets/font/Gilroy-Light.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*Regular*/
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/font/Gilroy-Regular.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*Medium*/
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/font/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*SemiBold*/
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/font/Gilroy-SemiBold.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*Bold*/
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/font/Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*ExtraBold*/
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/assets/font/Gilroy-Extrabold.woff') format('woff');
}
@font-face {
    font-family: "Gilroy"; /*Black*/
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/assets/font/Gilroy-Black.woff') format('woff');
}
// @font-face {
//     font-family: "Gilroy"; /*Heavy*/
//     font-style: normal;
//     font-weight: 800;
//     font-display: swap;
//     src: url('../font/Gilroy-Heavy.woff') format('woff');
// }