@mixin flexFLCenter($FL) {
  display: flex;
  flex-direction: $FL;
  justify-content: center;
  align-items: center;
}
@mixin flexFLStart($FL) {
  display: flex;
  flex-direction: $FL;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexFLSB($FL) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $FL;
}
@mixin glass {
  background: rgb(255 255 255 / 11%);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}